[submodule "submodule_path"]
	path = submodule_path
	url = https://github.com/observer012/Test.git/submodule_path.git
[submodule "submod"]
	path = submod
	url = https://github.com/observer012/Test/blob/main/submod.git
